@tailwind base;
@tailwind components;
@tailwind utilities;


  .background-gradient {
    background: linear-gradient(135deg, #5b6ec3 0%, #764ba2 100%);
    height: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-slider {
  animation: infinite-scroll 50s linear infinite;
}
